/* Extra large devices (large laptops and desktops, 1680px and up) */

@media screen and (min-width: 1280px) {
    * {
        Margin: 20;
        padding: 20;
    }
    body {
        font-family: 'Pattaya', sans-serif;
        background: white;
    }
    .nav {
        background: red;
        padding: 30px;
        display: flex;
        justify-content: space-around;
    }
    h1 {
        font-family: 'Pattaya', sans-serif;
        background: yellowgreen;
    }
    .efecto {
        font-family: 'Pattaya', sans-serif;
        background: yellowgreen;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .visual-aid {
        /* Styles for visual aid. */
        font-size: 30px;
        height: 40px;
        background: yellowgreen;
        width: 100%;
        margin: 20px auto;
        position: relative;
    }
    .marquee {
        overflow: hidden;
    }
    .marquee>* {
        white-space: nowrap;
        position: absolute;
        animation: marquee 15s linear 0s infinite;
    }
    @keyframes marquee {
        0% {
            left: 100%;
            transform: translateX(0%);
        }
        100% {
            left: 0%;
            transform: translateX(-100%);
        }
    }
    .visual-aid2 {
        /* Styles for visual aid. */
        font-size: 30px;
        height: 40px;
        background: yellowgreen;
        width: 30%;
        margin: 20px auto;
        position: relative;
    }
    .marquee2 {
        overflow: hidden;
    }
    .marquee2>* {
        white-space: nowrap;
        position: absolute;
        animation: marquee 15s linear 0s infinite;
    }
    @keyframes marquee2 {
        0% {
            right: 100%;
            transform: translateX(0%);
        }
        100% {
            right: 0%;
            transform: translateX(100%);
        }
    }
    .lista {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .container {
        display: flex;
    }
    img {
        align-self: baseline;
    }
    p {
        margin: 100 0 0 10px;
    }
    .post-container {
        margin: 5px 5px 0 0;
        overflow: auto;
    }
    .post-thumb {
        margin-top: 30px;
        float: left;
    }
    .post-thumb img {
        display: block;
        width: 42px;
        height: 42px;
    }
    .post-content {
        margin-left: 50px;
    }
    .post-container1 {
        margin: 5px 5px 0 0;
        overflow: auto;
    }
    .post-thumb1 {
        margin-top: 5px;
        float: left;
    }
    .post-thumb1 img {
        display: block;
        width: 400px;
        height: 300px;
    }
    .post-content1 {
        margin-left: 50px;
    }
    .post-container2 {
        margin: 20px 20px 0 0;
        overflow: auto;
    }
    .post-thumb2 {
        margin-top: 30px;
        float: right;
    }
    .post-thumb2 img {
        display: block;
        width: 400px;
        height: 300px;
    }
    .post-content2 {
        margin-right: 50px;
    }
    .post-container3 {
        margin: 20px 20px 0 0;
        overflow: auto;
    }
    .post-thumb3 {
        margin-top: 30px;
        float: left;
    }
    .post-thumb3 img {
        display: block;
        width: 400px;
        height: 300px;
    }
    .post-content3 {
        margin-left: 50px;
    }
    .post-container5 {
        margin: 20px 20px 0 0;
        overflow: auto;
    }
    .post-thumb5 {
        margin-top: 30px;
        float: left;
    }
    .post-thumb5 img {
        display: block;
        width: 400px;
        height: 300px;
    }
    .post-content5 {
        margin-left: 50px;
    }
    .flex-container {
        display: flex;
        /*    flex-wrap: wrap; */
        background-color: yellowgreen;
    }
    .flex-container>div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 20px;
    }
    .grid-container {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: yellowgreen;
        padding: 10px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 5px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
    .footer {
        font-size: 20px;
        color: rgb(255, 0, 221);
        background-color: linear-gradient(red, yellow);
    }
    .grid {
        background-image: linear-gradient(red, yellow);
    }
    #recuadro1 {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 40px;
        background-color: #ddd;
        width: 200px;
        padding: 10px;
    }
    #recuadro2 {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-radius: 20px;
        background-color: #ddd;
        width: 200px;
        padding: 10px;
    }
    #boxGradiente {
        background-image: linear-gradient(to top, red, green);
        color: black;
        padding: 5px;
        height: 150px;
        width: 500px;
        margin-top: 5px;
        margin-right: 0;
        margin-bottom: 5px;
        margin-left: 0;
        text-align: left;
    }

    .contenedor_iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      }
      
      /* Then style the iframe to fit in the container div with full height and width */
      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

}